.wrapper {
  position: relative;
  padding-top: rem(120px);
  padding-bottom: rem(20px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.dotsLeft {
  top: 0;
  left: 0;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  margin-bottom: 8px;
  color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-white)
  );

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: light-dark(
    var(--mantine-color-primary-4),
    var(--mantine-color-primary-6)
  );
}

.description {
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: 16px;
  }
}

