.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-4)
  );
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-sizes-sm);
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-1)
  );
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  color: var(--mantine-black);
}

.linkIcon {
  color: light-dark(
    var(--mantine-color-gray-6),
    var(--mantine-color-dark-2)
  );
  margin-right: var(--mantine-spacing-sm);
}

.linkActive {
  background-color: var(--mantine-primary-color);
  color: var(--mantine-primary-color);
}